button#enterButton {
  margin-top: 15px;
}

#shoppingCart {
  display: none;
  width: 50%;
}

#shoppingCartRows {
  margin-bottom: 15px;
  margin-top: 10px;
}

button#proceedToCheckout {
  margin-top:15px;
}
span#toppingAlert {
  display: none;
  color: yellow;
}

#finalOrderDisplay {
  display: none;
}

body {
  background-image: url(../img/pizza-background.jpg);
  background-size: 100%;
  color: white;
}

form#userInfoForm {
  width: 50%;
  margin-left: 15px;
}

#finalOrderInfo {
  border: solid white 5px;
  font-size: 25px;
  padding: 4px;
  width: 50%;
  text-align: center;
}

button#newOrder {
  margin-top: 15px;
}
