#shoppingCart {
  display: none;
  width: 50%;
}

#shoppingCartRows {
    border-top: 15px;
}

span#toppingAlert {
  display: none;
  color: yellow;
}

#finalOrderDisplay {
  display: none;
}

body {
  background-image: url(../img/pizza-background.jpg);
  background-size: 100%;
  color: white;
}

form#userInfoForm {
  width: 50%;
}

#finalOrderInfo {
  border: solid white 5px;
  font-size: 25px;
  padding: 4px;
  width: 50%;
  text-align: center;
}
